.section-banner{
    height: 500px;
    margin: 20px;
    .banner-content{
        height: 100%;
        .banner-item{
            height: 100%;
            .bg-item-1{
                height: 60vh;
                background-size: contain;
                background: url('../../../assets/banner/banner_00.webp') center center no-repeat;
            }
            .bg-item-2{
                height: 60vh;
                background-size: contain;
                background: url('../../../assets/banner/banner_02.webp') center center no-repeat;
            }
        }
    
        .slick-prev{
            left: 100px !important;
            z-index: 1000 !important;
        }
    
        .slick-next{
            right: 100px !important;
        }
    }
}